<div class="card-group">
    <div class="card">
        <div class="card-header fw-bold">
            Lights On
        </div>
        <div class="card-body">
            <div style="height: 200px; overflow-y:scroll;" class="p-0 thick-fancy-scroll list-group pe-3" id="card_lights_on"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header fw-bold">
            Lights Off
        </div>
        <div class="card-body">
            <div style="height: 200px; overflow-y:scroll;" class="p-0 thick-fancy-scroll list-group pe-3" id="card_lights_off"></div>
        </div>
    </div>
</div>
