{% extends 'error_pages/error_base.html' %}
{% block content %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-err">
                <h1>500</h1>
                <h2>Server Error</h2>
                <h3>
                    There has been an internal processing error with this page, please contact the administrator (brett@upstreamdata.ca) with information on what you were doing.
                </h3>
            </div>
            <a href="/dashboard">Homepage</a>
        </div>
    </div>
{% endblock %}
