{% extends 'navbar.html' %}
{% block content %}
<nav class="navbar bg-dark" data-bs-theme="dark" xmlns="">
        <div class="row d-flex justify-content-between w-100 align-content-middle">
            {% import "macros/header.html" as header_macros %}
            {{ header_macros.create_header_item(text="Home", icon="dashboard") }}
            <div class="col d-flex justify-content-end">
                <div class="btn-group dropstart">
                    <button type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <svg class="m-0 p-0"
                             style="fill: currentColor;
                                    vertical-align: -.25em"
                             width="20"
                             height="22">
                            <use xlink:href="#action"></use>
                        </svg>
                        Actions
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% import '/macros/scripts.html' as scripts %}
    {{ scripts.create_get_api_data(user.api_key) }}
    {% import '/macros/dashboard.html' as dashboard %}
    {{ dashboard.create_update_ws(request) }}
    <div class="px-lg-4 my-2 mx-4 mx-lg-0">
        {% if "admin" in user.scopes and cur_miners|length == 0 %}
            <a role="button"
               href="/scan"
               id="noMiners"
               class="w-100 btn btn-info fw-bolder d-flex align-items-center justify-content-center mt-3"
               style="height:100px">Click here to add miners.</a>
        {% endif %}
        <div class="row" data-masonry='{"percentPosition": true }' id="all_cards">
            {% if not cur_miners|length == 0 %}
                {% for card_name in user.dashboard_cards %}
                    {% if card_exists('cards/dashboard/' + card_name + '.html') %}
                        {% include 'cards/dashboard/' + card_name + '.html' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% include 'toasts.html' %}
        <script>
            update_ws.addEventListener('message', (event) => {
                getAPIData("py_errors", 'all')
                .then(data => {
                    currentToasts = getToasts();
                    summary = []
                    pyErrors = [];
                    pyErrorsCount = {};
                    for (const item of Object.values(data)) {
                      if (item.hasOwnProperty("msg")) {
                        const errorName = item["name"];
                        const errorMessage = item["msg"];
                        pyErrorsCount[errorName] = pyErrorsCount.hasOwnProperty(errorName) ? pyErrorsCount[errorName] + 1 : 1;
                      }
                    }
                    for (const errorName of Object.keys(pyErrorsCount)) {
                      const errorMessage = Object.values(data).find(item => item.hasOwnProperty("msg") && item["name"] === errorName)["msg"];
                      const errorCount = pyErrorsCount[errorName];
                      pyErrors.push({ name: errorName, msg: errorMessage, count: errorCount });
                    }
                    for (i = 0; i< pyErrors.length; i++) {
                        handleToastMessage(pyErrors[i]["msg"], pyErrors[i]["name"] + "_error", pyErrors[i]["count"]);
                        var indexToRemove = currentToasts.indexOf(pyErrors[i]["name"] + "_error");
                        if (indexToRemove !== -1) {
                          currentToasts.splice(indexToRemove, 1);
                        }
                    }
                    for (i = 0; i< currentToasts.length; i++) {
                        hideToastMessage(currentToasts[i]);
                    }
                })
                .catch(error => console.log(error));
            });
        </script>
    </div>
{% endblock content %}
