{% extends 'navbar.html' %}
{% block content %}
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="row d-flex justify-content-between w-100 align-content-middle">
            {% import "macros/header.html" as header_macros %}
            {{ header_macros.create_header_item(text="Manage Miners", icon="edit") }}
        </div>
    </nav>
    <div class="px-lg-4 my-2 mx-4 mx-lg-0">
        <div class="row mb-4">
            <div class="btn-group-vertical mt-2">
                {% if "admin" in user.scopes %}
                    <button class="btn btn-outline-danger" onclick="removeMiners()" type="button">Remove Miners</button>
                {% endif %}
                <button class="btn btn-outline-info" onclick="lightMiners()" type="button">Light Miners</button>
                <button class="btn btn-outline-danger" onclick="rebootMiners()" type="button">Reboot Miners</button>
                <button class="btn btn-outline-warning"
                        onclick="restartBackendMiners()"
                        type="button">Restart Backend Miners</button>
                <input type="checkbox"
                       class="btn-check select-all checkbox"
                       id="selectAllCheckbox"
                       name="select-all"/>
                <label class="btn btn-outline-success w-100" for="selectAllCheckbox">Select All</label>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-5 row-cols-md-3 my-3 g-3"
             id="all_cards">
            {% for miner in cur_miners %}
                <div class="col col-xs-6 col-sm-4 col-md-3 my-2" id="{{ miner }}">
                    <div class="card text-center">
                        <div class="card-header fw-bold">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input type="checkbox"
                                           class="select-item checkbox"
                                           name="minerCheckboxes"
                                           value="{{ miner }}"/>
                                </div>
                                <div class="form-control">{{ miner }}</div>
                            </div>
                        </div>
                        <div class="card-body d-flex align-items-center p-0 m-0">
                            <table class="table py-0 my-0">
                                <tbody>
                                    <tr>
                                        <td>Model</td>
                                        <td id="{{ miner }}_model">
                                            <div class="spinner-grow spinner-grow-sm" role="status"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hashrate</td>
                                        <td id="{{ miner }}_hashrate">
                                            <div class="spinner-grow spinner-grow-sm" role="status"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>% Ideal</td>
                                        <td id="{{ miner }}_chip_pct">
                                            <div class="spinner-grow spinner-grow-sm" role="status"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Errors</td>
                                        <td id="{{ miner }}_errors">
                                            <div class="spinner-grow spinner-grow-sm" role="status"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Light</td>
                                        <td id="{{ miner }}_light">
                                            <div class="spinner-grow spinner-grow-sm" role="status"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="{{ url_for('static', path='/jquery.min.js')}}"></script>
        <script>
        $(function(){
            //column checkbox select all or cancel
            $("input.select-all").click(function () {
                var checked = this.checked;
                $("input.select-item").each(function (index,item) {
                console.log(item);
                    item.checked = checked;
                });
            });
            //check selected items
            $("input.select-item").click(function () {
                var checked = this.checked;
                var all = $("input.select-all")[0];
                var total = $("input.select-item").length;
                var len = $("input.select-item:checked:checked").length;
                all.checked = len===total;
            });
        });
        </script>
        <script>
        var ws = new WebSocket("ws://{{request.url.hostname}}:{% if request.url.port %}{{request.url.port}}{% else %}80{% endif %}/manage/manage_miners/ws");
        let all_data = []
        let all_labels = []
        ws.onmessage = function(event) {
            var data = JSON.parse(event.data)
            document.getElementById(data["ip"] + "_model").innerHTML = data["model"]
            document.getElementById(data["ip"] + "_hashrate").innerHTML = data["hashrate"] + " TH/s"
            document.getElementById(data["ip"] + "_chip_pct").innerHTML = data["percent_ideal"] + " %"
            document.getElementById(data["ip"] + "_errors").innerHTML = data["errors"].length
            if (data["fault_light"]) {
                var fault_light_ico = 'On <svg class="ms-2 m-0 p-0" style="fill: currentColor; vertical-align: -.25em;" width="20" height="22" id="svg_fault_light"><use xlink:href="#light-on"></use></svg>'
            } else {
                var fault_light_ico = 'Off <svg class="ms-2 m-0 p-0" style="fill: currentColor; vertical-align: -.25em;" width="20" height="22" id="svg_fault_light"><use xlink:href="#light-off"></use></svg>'
            }
            document.getElementById(data["ip"] + "_light").innerHTML = fault_light_ico
        }

        window.post = function(url, data) {
            return fetch(url, {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
        }

        {% if "admin" in user.scopes %}
        function removeMiners(event) {
            var checkedBoxes = document.querySelectorAll('input[name=minerCheckboxes]:checked');
            if (checkedBoxes.length != 0) {
                var minerList = [];
                for (i = 0; i< checkedBoxes.length; i++) {
                    minerList.push(checkedBoxes[i].defaultValue);
                }
                post("/remove_miners", {miners: minerList})
                for (i = 0; i< minerList.length; i++) {
                    var tr_to_remove = document.getElementById(minerList[i])
                    tr_to_remove.remove()
                    var nav_to_remove = document.getElementById("nav_" + minerList[i])
                    nav_to_remove.remove()
                }
            };
        };
        {% endif %}
        function lightMiners(event) {
            var checkedBoxes = document.querySelectorAll('input[name=minerCheckboxes]:checked');
            if (checkedBoxes.length != 0) {
                var minerList = [];
                for (i = 0; i< checkedBoxes.length; i++) {
                    minerList.push(checkedBoxes[i].defaultValue);
                }
                post("/manage/light_miners", {miners: minerList})
            };
        };


        </script>
    </div>
{% endblock content %}
