{% extends 'navbar.html'%}
{% block content %}
<script src="{{ url_for('static', path='/chart.js')}}"></script>
<script src="{{ url_for('static', path='/luxon.min.js')}}"></script>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="row d-flex justify-content-between w-100 align-content-middle">
        <div class="col-7">
            <h2 class="ms-3 mt-1 text-light">
                <svg class="bi me-2 d-none d-sm-inline" width="32" height="32">
                    <use xlink:href="#miners"></use>
                </svg>
                {{miner}}
            </h2>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="m-0 p-0" style="fill: currentColor; vertical-align: -.25em;" width="20" height="22">
                        <use xlink:href="#action"></use>
                    </svg>
                    Actions
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" target="_blank" href="http://{{miner}}" role="button">
                            <svg class="m-0 p-0" style="vertical-align: -.25em;" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" height="22">
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/>
                                <polyline points="15 3 21 3 21 9"/>
                                <line x1="10" x2="21" y1="14" y2="3"/>
                            </svg>
                            Web Interface
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="http://{{request.url.hostname}}:{% if request.url.port %}{{request.url.port}}{% else %}80{% endif %}/miner/{{miner}}/light" role="button">
                            <svg class="m-0 p-0" style="fill: currentColor; vertical-align: -.25em;" width="20" height="22" id="svg_fault_light">
                                <use xlink:href="#light-off"></use>
                            </svg>
                            Fault Light
                        </a>
                    </li>
                    <li>
                        <button onclick="updateWattage()" id="update_wattage" class="dropdown-item" role="button" value="Update Wattage">
                            <svg width="20" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                <polyline points="17 6 23 6 23 12"></polyline>
                            </svg>
                            Update Wattage
                        </button>
                        <input type="number" class="form-control border p-1 my-2 w-75 rounded ms-4 me-0" id="miner_input_wattage">
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#removeModal">
                            <svg class="m-0 p-0" style="vertical-align: -.325em;" width="20" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path>
                                <line x1="18" y1="9" x2="12" y2="15"></line>
                                <line x1="12" y1="9" x2="18" y2="15"></line>
                            </svg>
                            Remove Miner
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Remove Miner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to remove this miner?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="/miner/{{miner}}/remove" role="button">Remove</a>
            </div>
        </div>
    </div>
</div>
<div class="px-lg-4 my-2 mx-4 mx-lg-0">
    <div class="row row-cols-1 row-cols-xl-5 row-cols-md-3 my-3 g-3" id="all_cards">
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                Model
              </div>
              <div class="card-body hashrate-header display-6">
                  <div class="mx-auto fw-bolder" id="model">?</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                Hashrate
              </div>
              <div class="card-body hashrate-header display-6">
                  <div class="mx-auto fw-bolder" id="total_hashrate">0 TH/s</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                Ideal Hashrate
              </div>
              <div class="card-body hashrate-header display-6">
                  <div class="mx-auto fw-bolder" id="ideal_hashrate">0 TH/s</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                % Ideal Hashrate
              </div>
              <div class="card-body hashrate-header display-6">
                  <div class="mx-auto fw-bolder" id="pct_ideal_hashrate">0 %</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                  Efficiency
              </div>
              <div class="card-body hashrate-header display-6">
                  <div class="mx-auto fw-bolder" id="total_efficiency">0 J/TH</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                  Wattage
              </div>
              <div class="card-body hashrate-header display-6">
                    <div class="mx-auto fw-bolder" id="total_watts">0 W</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                  Max Wattage
              </div>
              <div class="card-body hashrate-header display-6">
                    <div class="mx-auto fw-bolder" id="total_max_watts">0 W</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <div class="card-header fw-bold">
                  % Max Wattage
              </div>
              <div class="card-body hashrate-header display-6">
                    <div class="mx-auto fw-bolder" id="pct_max_wattage">0 %</div>
              </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 m-1 my-3">
        <div class="card">
          <div class="card-header fw-bold text-center ">
            Errors
          </div>
          <div class="card-body">
              <div style="height: 200px; overflow-y:scroll;" class="p-0 thick-fancy-scroll list-group pe-3" id="miner_errors_list"></div>
          </div>
        </div>
    </div>

    <div id="py_errors"></div>
    <script>
        var ws = new WebSocket("ws://{{request.url.hostname}}:{% if request.url.port %}{{request.url.port}}{% else %}80{% endif %}/miner/{{miner}}/ws");
        let all_data = []
        let all_labels = []
        ws.onmessage = function(event) {
            var new_data = JSON.parse(event.data)
            if (new_data.hasOwnProperty("py_errors")) {
                var err_container = document.getElementById("py_errors")
                err_container.innerHTML = ""
                for (i = 0; i< new_data["py_errors"].length; i++) {
                    err_container.innerHTML += "<div id='" + i + "_error" +
                    "' class='d-flex align-items-center p-1 mb-1 alert alert-danger'><strong class='p-0 m-0'>" +
                    new_data["py_errors"][i] +
                    "</strong><div class='spinner-border spinner-border-sm ms-auto'></div></div>"
                }
            }
            if (new_data.hasOwnProperty("hashrate")) {
                var err_container = document.getElementById("py_errors")
                err_container.innerHTML = ""
                wattage_input = document.getElementById("miner_input_wattage");
                if (new_data["max_wattage"] == -1) {
                    wattage_set = document.getElementById("update_wattage");
                    wattage_set.disabled = true;
                    wattage_input.disabled = true;
                } else {
                    if (!(wattage_input.value)) {
                        wattage_input.value = new_data["max_wattage"]
                        wattage_set = document.getElementById("update_wattage");
                        wattage_set.disabled = false;
                        wattage_input.disabled = false;
                    }
                }
                errors_html = ""
                errors = document.getElementById("miner_errors_list")
                if (new_data.hasOwnProperty("errors")) {
                    if (new_data["errors"].length > 0) {
                        miner_id_local = new_data["ip"].replaceAll(".", "-")
                        err_loc = document.getElementById("errors_" + miner_id_local)
                        if (err_loc) {
                            if (err_loc.classList.contains('show')) {
                                miner_errs_local_html = '<a data-bs-toggle="collapse" href="#errors_' + miner_id_local + '" role="button" class="list-group-item no-transition d-flex justify-content-between list-group-item-action miner-error" aria-expanded="true">' + new_data["ip"] + '<span class="badge bg-gradient rounded-pill alight-items-middle p-2 m-0" style="width:50px;">' + new_data["errors"].length + '</span></a>'
                                miner_errs_local_html += '<div class="collapse no-transition multi-collapse my-0 py-0 ms-5 show" id="errors_' + miner_id_local + '">'
                                for (err in new_data["errors"]) {
                                    miner_errs_local_html += '<div class ="list-group-item no-transition miner-error-item">' + new_data["errors"][err]["error_message"] + '</div>'
                                };
                                miner_errs_local_html += '</div>'




                            } else {
                                miner_errs_local_html = '<a data-bs-toggle="collapse" href="#errors_' + miner_id_local + '" role="button" class="list-group-item no-transition d-flex justify-content-between list-group-item-action miner-error">' + new_data["ip"] + '<span class="badge bg-gradient rounded-pill alight-items-middle p-2 m-0" style="width:50px;">' + new_data["errors"].length + '</span></a>'
                                miner_errs_local_html += '<div class="collapse no-transition multi-collapse my-0 py-0 ms-5" id="errors_' + miner_id_local + '">'
                                for (err in new_data["errors"]) {
                                    miner_errs_local_html += '<div class ="list-group-item no-transition miner-error-item">' + new_data["errors"][err]["error_message"] + '</div>'
                                };
                                miner_errs_local_html += '</div>'
                            }
                        } else {
                            miner_errs_local_html = '<a data-bs-toggle="collapse" href="#errors_' + miner_id_local + '" role="button" class="list-group-item no-transition d-flex justify-content-between list-group-item-action miner-error">' + new_data["ip"] + '<span class="badge bg-gradient rounded-pill alight-items-middle p-2 m-0" style="width:50px;">' + new_data["errors"].length + '</span></a>'
                            miner_errs_local_html += '<div class="collapse no-transition multi-collapse my-0 py-0 ms-5" id="errors_' + miner_id_local + '">'
                            for (err in new_data["errors"]) {
                                miner_errs_local_html += '<div class ="list-group-item no-transition miner-error-item">' + new_data["errors"][err]["error_message"] + '</div>'
                            };
                            miner_errs_local_html += '</div>'
                        }

                        errors_html += miner_errs_local_html
                    };
                }
                errors.innerHTML = errors_html;

                fault_light_svg = document.getElementById("svg_fault_light");
                if (new_data["fault_light"]) {
                    fault_light_svg.innerHTML = '<use xlink:href="#light-on"></use>'
                } else {
                    fault_light_svg.innerHTML = '<use xlink:href="#light-off"></use>'
                };
                var miner_hr = document.getElementById("total_hashrate")
                miner_hr.innerHTML = new_data["hashrate"].toFixed(2) + " TH/s"
                var miner_model = document.getElementById("model")
                miner_model.innerHTML = new_data["model"].replace(" (BOS)", '<svg class="ms-3" style="fill: currentColor; vertical-align: -1px;" width="66" height="30"><use xlink:href="#BOS"></use></svg>')
                var miner_ideal_hr = document.getElementById("ideal_hashrate")
                miner_ideal_hr.innerHTML = new_data["nominal_hashrate"].toFixed(2) + " TH/s"

                var eff_block = document.getElementById("total_efficiency")
                var pct_ideal_hr_block = document.getElementById("pct_ideal_hashrate")
                var eff_block = document.getElementById("total_efficiency")
                var total_wattage = document.getElementById("total_watts")
                var max_wattage = document.getElementById("total_max_watts")
                var pct_max_wattage_block = document.getElementById("pct_max_wattage")

                max_wattage.innerHTML = new_data["wattage_limit"] + " W"
                total_wattage.innerHTML = new_data["wattage"] + " W"

                if (!(new_data["hashrate"] == 0)) {
                    eff_block.innerHTML = Number((new_data["wattage"]/new_data["hashrate"]).toFixed(2)) + " J/TH"
                    pct_ideal_hr_block.innerHTML = (Number((new_data["hashrate"]/new_data["nominal_hashrate"])*100)).toFixed(2) + " %"
                } else {
                    eff_block.innerHTML = "0 J/TH"
                    pct_ideal_hr_block.innerHTML = "0 %"
                }
                if (!(total_watts == 0)) {
                    pct_max_wattage_block.innerHTML = (Number((new_data["wattage"]/new_data["wattage_limit"])*100)).toFixed(2) + " %"
                } else {
                    pct_max_wattage_block.innerHTML = "0 %"
                }

            };
        };
        window.post = function(url, data) {
          return fetch(url, {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
        }

        function updateWattage(event) {
            var wattage_input = document.getElementById("miner_input_wattage");
            set_wattage = wattage_input.value
            post("/miner/{{miner}}/wattage", {wattage: set_wattage})
        };

    </script>
</div>
{% endblock content %}
