<div class="toast-stack p-1 m-2">
    <div class="toast-container w-100" id="toast_container"></div>
</div>
<script>
    function getToasts() {
        var toastContainer = document.getElementById("toast_container");

        var toasts = toastContainer.children;

        var allIDS = [];

        for (var i = 0; i < toasts.length; i++) {
          var toast = toasts[i];
          var t_id = toast.id;
          allIDS.push(t_id);
        }
        return allIDS
    }
    function handleToastMessage(message, t_id, count = 1) {
        var toast = document.getElementById(t_id);
        if (toast == null) {
            createToastMessage(message, t_id);
        }
        showToastMessage(t_id, count);
    }

    function createToastMessage(message, t_id) {
        var toastContainer = document.getElementById('toast_container');

        // create the toast element
        var toast = document.createElement('div');
        toast.id = t_id;
        toast.className = 'p-0 mb-1';
        toast.style.zIndex = '11';
        toast.innerHTML = `
    <div class="toast align-items-center border-0 err-toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
    <div class="toast-body p-1">${message}</div>
    <span id="${t_id}_count" class="badge bg-fancy-gradient rounded-pill align-items-middle p-auto m-1" style="width:30px;"></span>
    </div>
    `;

        toastContainer.appendChild(toast);

        var bootstrapToast = new bootstrap.Toast(toast.querySelector('.toast'), {
            autohide: false
        });
        bootstrapToast.show();
    }

    function hideToastMessage(t_id) {
        var toast = new bootstrap.Toast(t_element, {
            autohide: false
        });
        toast.hide();
    }

    function showToastMessage(t_id, count) {
        var toastCount = document.getElementById(t_id + "_count")
        toastCount.innerHTML = count
        t_element = document.getElementById(t_id);
        var toast = new bootstrap.Toast(t_element, {
            autohide: false
        });
        toast.show();
    }
</script>
